{% extends 'base.html' %}

{% block title %}materia{% endblock %}

{% block extra_css %}
{% load static  %}
    <link rel="stylesheet" href="{% static 'aplicacion/css/articulos.css' %}">
    {% endblock %}

{% block content %}
        <div class="opc">
            <h3>Opciones</h3>
            <a class="nav-button" href="{% url 'inicio' %}">Inicio</a>
            <a class="nav-button" href="{% url 'aprendiz' %}">registrar</a>
            <a class="nav-button" href="{% url 'materia' %}">calificaciones</a>
        </div>
        <div class="content">
            <h1>Ingrese las notas</h1>
            <table>
                    <tr>
                        <th>id</th>
                        <th>materia</th>
                        <th>calificacion</th>

                    </tr>
                        {% for Materia in list %}
                        <tr>
                            <td>{{ Materia.idmateria }}</td>
                            <td>{{ Materia.materia }}</td>
                            <td>{{ Materia.calificacion }}</td>
                            <td style="width: 200px;">
                        <a href="{% url 'modificarmat' Materia.idmateria %}"><button type="submit">Editar</button></a>
                            <a href="{% url 'eliminarmat' Materia.idmateria %}"><button type="submit">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'formulario2' %}"><button type="submit">Crear</button></a>
        </div>
{%endblock%}